body {
    max-width: 500px;
}
h1 {
    font-size: 24;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin: 0 auto;
    flex-direction: column;
    justify-items: center;
    width: 500px;
    height: 500px;
    cursor: pointer;
} 

.box {
    width: 100%;
    border: 5px solid #4c65af;
    background-color: rgb(41, 40, 40);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}

#reset {
  background-color: #4c65af;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}